body{
    background-color: rgb(0, 0, 0);
    color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #fc7e09bf;
    border-radius: 5px;
}

/* Track (the area behind the handle) of the scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
